<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pshiksha">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.PShiksha"
        tools:targetApi="31">
        <activity
            android:name=".services.PlaceOrderActivity"
            android:exported="false" />
        <activity
            android:name=".services.YourOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".services.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".services.ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".services.allServices.MajorMinorProjectActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".services.EditUserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".login.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".services.ServicesActivity"
            android:exported="false" />
        <activity
            android:name=".login.ProfileSetupActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".login.OtpActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>